*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
    color:#3a3f46;
    margin-bottom: -10px;
    user-select: none;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #dee9f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.button-container {
    background: none;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(0.8);
    margin-bottom: -50px;
}

.btn {
    background: #2e63a9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.btn-red {
    background: #a22209;
    color: #fff;
}

.btn:hover {
    background: #31353b;
    color: #dad6d6;
    transform: scale(1.01);
    transition: transform 0.15s ease-in-out;
}

.btn:active {
    transform: scale(0.98);
    transition: transform 0.1s ease-in-out;
}

.container {
    background: #e08e5f;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(0.8);
}

.ground {
    display: block;
    position: absolute;
    width: 100%;
    height: 18px;
    background: #566166;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#message {
    font-size: 16px;
    color: #0e0e0e;
    font-weight: 500;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #72c9e7;
    border-radius: 10px;
    padding: 10px;
    margin-top: -45px;
    margin-bottom: 10px;
}

#message:empty {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.stack{
    position: absolute;
    border: 2px solid transparent;
    height: max-content;
    bottom: 0px;
}

.plate-object {
    width: 350px;
    height: 80px;
    margin-top: 0;
    position: relative;
    transform: scale(0.6);
    margin-bottom: 0;
}

.plate-object img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -50px; /* how close plates are vertically */
    margin-bottom: 0;
    display: block;
    user-select: none;
}