*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: #dee9f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #e08e5f;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ground {
    display: block;
    position: absolute;
    width: 100%;
    height: 18px;
    background: #566166;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stack{
    position: absolute;
    border: 2px solid transparent;
    height: max-content;
    bottom: 0px;
}

.plate-object {
    width: 350px;
    height: 80px;
    margin-top: 0;
    position: relative;
    transform: scale(0.6);
    margin-bottom: 0;
}

.plate-object img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -50px; /* how close plates are vertically */
    margin-bottom: 0;
    display: block;
}

